data/train_pos_full.txt filter=lfs diff=lfs merge=lfs -text
data/train_neg_full.txt filter=lfs diff=lfs merge=lfs -text
preprocessing/dicts/bigram_snap.json filter=lfs diff=lfs merge=lfs -text
embed/glove/glove.twitter.27B.25d.txt filter=lfs diff=lfs merge=lfs -text
embed/glove/glove.twitter.27B.200d.txt filter=lfs diff=lfs merge=lfs -text
data/enchant_corr/train_pos_full_sc.txt filter=lfs diff=lfs merge=lfs -text
data/raw/train_pos_full.txt filter=lfs diff=lfs merge=lfs -text
data/raw/train_neg_full.txt filter=lfs diff=lfs merge=lfs -text
data/mst_first/train_neg.txt filter=lfs diff=lfs merge=lfs -text
data/pretrain_data/pretrain_neg.txt filter=lfs diff=lfs merge=lfs -text
data/pretrain_data/pretrain_pos.txt filter=lfs diff=lfs merge=lfs -text
data/no_mst/train_neg.txt filter=lfs diff=lfs merge=lfs -text
data/no_mst/train_pos.txt filter=lfs diff=lfs merge=lfs -text
data/emot_sl_mst/train_neg.txt filter=lfs diff=lfs merge=lfs -text
data/emot_sl_mst/train_pos.txt filter=lfs diff=lfs merge=lfs -text
data/enchant_prep/train_pos.txt filter=lfs diff=lfs merge=lfs -text
data/enchant_prep/train_neg.txt filter=lfs diff=lfs merge=lfs -text
data/cleaned/train_neg.txt filter=lfs diff=lfs merge=lfs -text
data/cleaned/train_pos.txt filter=lfs diff=lfs merge=lfs -text
data/only_no/train_neg.txt filter=lfs diff=lfs merge=lfs -text
data/only_no/train_pos.txt filter=lfs diff=lfs merge=lfs -text
data/only_ar/train_neg.txt filter=lfs diff=lfs merge=lfs -text
data/only_ar/train_pos.txt filter=lfs diff=lfs merge=lfs -text
